---
# Use of HTTPS only is strongly advised. Exposing shellhooks over http is
# technically possible but allows anyone to run things on your proxy.
#:enabled: https
:enabled: false
# directory with executables
:directory: /var/lib/foreman-proxy/shellhooks
